$color-blue: #0B0CAC;
$color-red: #FE5576;
$color-dark-grey: #636363;
$color-light-grey: #BFBFBF;
$color-light-grey-ii:#F2F2F2;
$color-white: white;
$color-ghost-white: #f8f8ff;
$color-pantone: #f1f4ff;