@import 'colors';

%titles {
    color: $color-blue;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 40px;
    letter-spacing: 4px;
    font-weight: bolder;
    justify-content: space-around;
    margin: 50px 0;
}

%images {
    display: flex;
    margin: 10px auto;
    padding: 0;
}

%description {
    margin: 10px 0;
    font-size: 15px;
    text-align: center;
    color: $color-blue;
    font-weight: bold;
}

%price {
    margin: 10px 0;
    font-size: 20px;
    text-align: center;
    color: $color-red;
    font-weight: bolder;
}